<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="static/style.css" rel="stylesheet">
  <title>Atmiņas spēle</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Atmiņas spēle</h1>
      <ul>
        <li>
          <a href="/">Sākums</a>
        </li>
        <li>
          <a href="game">Spēle</a>
        </li>
        <li>
          <a href="top">Tops</a>
        </li>
        <li>
          <a href="about">Par</a>
        </li>
      </ul>
    </div> <!--Beidzas header-->
    <div class="content">
      Informācija par projektu


    </div> <!--Beidzas content-->

  </div> <!--Beidzas wrapper-->
  


</body>
</html>