<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link href="static/style.css" rel="stylesheet">
  <title>Atmiņas spēle</title>
</head>
<body>
  <div class="wrapper">
    <div class="header">
      <h1>Atmiņas spēle</h1>
      <ul>
        <li>
          <a href="/">Sākums</a>
        </li>
        <li>
          <a href="game">Spēle</a>
        </li>
        <li>
          <a href="top">Tops</a>
        </li>
        <li>
          <a href="about">Par</a>
        </li>
      </ul>
    </div> <!--Beidzas header-->
    <div class="content">
      <h3>Noteikumi</h3>
      <p>Sameklē vienādo figūru pārus ar pēc iespējas mazāko klikšīņāšanu skaitu.</p>
      <h3>Spēlētāja pieteikšanās</h3>
      Vārds:<input id="vards"/>
      <button onclick="saktSpeli()">Sāk spēli</button>


    </div> <!--Beidzas content-->

  </div> <!--Beidzas wrapper-->
<script src="static/sakums.js"></script>

</body>
</html>